{% block title %} Stock Data Visualizer {% endblock %}

{% block content %}
<form method="post">
    <label for="symbol">Choose Symbol:</label><br>
    <select id="symbol" name="symbol">
        <option value="">Select a Symbol</option>
        {% for symbol in symbols %}
            <option value="{{ symbol }}">{{ symbol }}</option>
        {% endfor %}
    </select><br>
    <label for="chart_type">Choose Chart Type:</label><br>
    <select id="chart_type" name="chart_type">
        <option value="">Select a Chart Type</option>
        <option value="1">Bar</option>
        <option value="2">Line</option>
    </select><br>
    <label for="time_series">Choose Time Series:</label><br>
    <select id="time_series" name="time_series">
        <option value="">Select a Time Series</option>
        <option value="1">Intraday</option>
        <option value="2">Daily</option>
        <option value="3">Weekly</option>
        <option value="4">Monthly</option>
    </select><br>
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date"><br>

    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date"><br>
    <button type="submit">Submit</button>
</form>

{% if chart%}
<div id="chart">
    <embed type="image/svg+xml" src= {{ chart|safe }} />"
</div>
{% endif %}

{% endblock %}